{% extends 'base.html'%}
{% block title %}Logowanie{% endblock %}
{% block body %}
{{ error_message }}
        <form  role="form" action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}
             login
              <input name="username" type="text"  id="inputEmail3" placeholder="Email">
            hasło
              <input name="password" type="password" class="form-control" id="inputPassword3" placeholder="Password">
              <button type="submit" >zaloguj</button>
        </form>
{% endblock %}